* {
	font-size: 12px;
	background: #282a36;
}

window#waybar {
	color: #f8f8f2;
	padding-left: 2px;
	padding-right: 2px;
}

#pulseaudio, #mpd, #clock, #cpu, #disk, #memory {
	margin-left: 4px;
	margin-right: 4px;
	padding-left: 4px;
	color: #50fa7b;
}

#workspaces button {
	margin: 0 2px;
	padding: 0 4px;
	color: #ff79c6;
}

#workspaces button.focused {
	color: #ff92df;
}
